name: ci.yml
on:
  pull_request:
    branches: [ main ]

jobs:
  build_and_push_to_dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build and Docker image
        run: docker build -f Dockerfile -t soundbest-frontend:latest .

      - name: Tag Docker image
        run: docker tag soundbest-frontend:latest stanislawstepkas28016/soundbest-frontend:latest

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Push image to Dockerhub
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/soundbest-frontend:latest